body {
    font-family: Arial;
    background-color: #2f4f7f;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.btn {
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
}